html, body {
	font-family: 'Bender';
	font-size: 12px;
}
* {
	&, &:after, &:before {
		box-sizing: border-box;
	}
}
.clearfix {
	.clearfix();
}
.list_wrapper {
	position: relative;
	.radiolist {
		width: 285px;
		position: relative;
		ul {
			padding: 0px;
			margin: 0px;
			li {
				list-style: none;
				padding: 5px;
				margin: 0px;
			}
		}
	}
}
.footer {
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: default;
	outline: none !important;
	&:focus, &:active {
		outline: none !important;
	}
}

a, button {
	cursor: pointer;
}
.clr {
	.clearfix();
}
.text-center {
	text-align: center;
}
input[type=range] {
	-webkit-appearance: none;
	background-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	&::-webkit-slider-thumb {
		width: 15px;
		height: 5px;
		-webkit-appearance: none;
		cursor: col-resize;
	}
}
#radioext_search {
	height: 20px;
	font-size: 12px;
	width: 100%;
	border: 0px solid transparent;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	cursor: text;
}
#radioext_volume {
	width: 100%;
}
#tracking {
	min-height: 13px;
}
.main {
	user-select: none;
	width: 304px;
	padding: 0px 5px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100vh;
	color: #000;
	border-left-style: solid;
	border-right-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	position: relative;
	transform: translateX(0);
	.input_text {
		margin-right: 15px;
		margin-left: 15px;
		margin-top: 15px;
		position: relative;
		z-index: 100;
		border-radius: 10px;
		.icon {
			position: absolute;
			top: 0px;
			cursor: pointer;
			width: 20px;
			height: 20px;
			border-radius: 20px;
			text-align: center;
			line-height: 0.93;
			font-size: 11px;
			padding: 4px;
			z-index: 10;
			&-search {
				display: block;
				left: 0px;
				cursor: default;
			}
			&-clear {
				right: 0px;
				display: none;
				&.active {
					display: block;
				}
			}
			&:before {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
	.header {
		.clearfix();
		top: 0;
		margin-left: -5px;
		margin-right: -5px;
		margin-bottom: 10px;
		.icon {
			background-color: #000;
			color: #fff;
			&.icon-search, &.icon-clear {
				&:hover {
					background-color: #000 !important;
					color: #fff !important;
				}
			}
		}
		svg {
			&.header_background {
				width: 294px;
				position: absolute;
				z-index: 0;
			}
		}
		&_logotip {
			position: relative;
			width: 176px;
			z-index: 5;
			margin-top: 13px;
			margin-left: 15px;
			margin-bottom: 10px;
			float: left;
			> a, > span {
				display: block;
				cursor: pointer;
				position: relative;
			}
			> a {
				svg, svg path {
					cursor: pointer !important;
				}
			}
		}
		&_buttons {
			position: relative;
			z-index: 5;
			white-space: nowrap;
			text-align: center;
			float:right;
			margin-top: 35px;
			margin-right: 15px;
			> button {
				display: inline-block;
				vertical-align: middle;
				background-color: #000;
				cursor: pointer;
				width: 20px;
				height: 20px;
				border-radius: 20px;
				text-align: center;
				line-height: 0;
				padding: 0px;
				color: #fff;
				border: none;
				margin-left: 12px;
				background-color: #000;
				color: #fff;
				font-size: 11px;
				&:first-child {
					margin-left: 0px;
				}
				&:before {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
		&_canvas {
			.clearfix();
			position: relative;
			.canvas_block {
				float: right;
				margin-right: 5px;
				canvas {
					background-color: black;
				}
			}
			.radio_block {
				float: left;
				margin-left: 5px;
				margin-top: 0px;
				.rlogo {
					width: 48px;
					height: 48px;
					background-color: #fff;
					border-radius: 3px;
					overflow: hidden;
					position: relative;
					&.station {
						text-align: center;
						font-family: 'RadioEXT';
						line-height: 1;
						font-size: 40px;
						&:before, &:after {
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							left: 0px;
							right: 0px;
							top: 0px;
							bottom: 0px;
							width: 100%;
							height: 100%;
							opacity: 0;
							transition: all .3s ease-in-out;
						}
						&:before{
							content: "";
							background-color: rgba(255, 255, 255, 0.5);
						}
						&:after {
							content: "\e901";
							transform-origin: 50% 50%;
							transform: scale(0);
						}
						&:hover {
							&:before, &:after {
								opacity: 1;
							}
							&:after {
								transform: scale(1);
							}
						}
						&.play {
							&:after {
								content: "\e902";
							}
						}
					}
				}
			}
		}
		.volume {
			line-height: 0;
		}
		.track {
			position: relative;
			overflow: hidden;
			margin-left: 5px;
			margin-right: 5px;
			padding-top: 3px;
			border-radius: 13px;
			padding-bottom: 3px;
			text-align: center;
			white-space: nowrap;
			cursor: default;
			margin-bottom: 3px;
			> div {
				position: relative;
				margin-left: 3px;
				margin-right: 3px;
				overflow: hidden;
				border-radius: 9px;
				border: 1px solid #fff;
				padding-top: 3px;
				padding-bottom: 3px;
				min-height: 21px;
			}
			&.copy {
				cursor: pointer;
				* {
					cursor: pointer !important;
				}
			}
		}
	}
	.radiolist {
		position: relative;
		background-color: #fff;
		height: ~"calc(100vh - 303px)";
		.scroll {
			position: relative;
			ul {
				background-color: #fff;
			}
			li {
				.button, .favicon {
					transition: all .25s;
				}
				.radiotitle {
					
				}
				.favicon {
					
				}
			}
		}
	}
	.radio {
		position: relative;
		padding-bottom: 110px;
	}
	.footer {
		height: 100px;
		position: absolute;
		width: 100%;
		left: 0px;
		right: 0px;
		bottom: 0px;
		overflow: hidden;
		border-top-left-radius: 17px;
		border-top-right-radius: 17px;
		padding-left: 8px;
		padding-right: 8px;
		.clearfix();
		&_wrapper {
			display: table;
			width: 100%;
			height: 100%;
			margin-left: auto;
			margin-right: auto;
			vertical-align: middle;
			&_row {
				display: table-row;
				&:first-child {
					> div {
						padding-top: 6px !important;
					}
				}
			}
			&_cell {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				padding: 3px 5px;
			}
		}
	}
}
.shareds {
	position: relative;
	text-align: center;
	&_list{
		.clearfix();
		position: relative;
		margin: 0px;
		padding: 0px;
		display: inline-block;
	}
	&_item {
		display: block;
		position: relative;
		list-style: none;
		padding-left: 2.5px;
		padding-right: 2.5px;
		float: left;
		> span {
			/*padding-top: 4px;
			padding-left: 10px;
			display: inline-block;
			vertical-align: bottom;*/
		}
		.ico {
			display: block;
			position: relative;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			text-decoration: none;
			cursor: pointer !important;
			.icon {
				background-color: #000;
				color: #fff;
				display: block;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				font-size: 20px;
				transform-origin: 50% 50%;
				transition: all 1s;
				cursor: pointer !important;
				&:before {
					display: block;
					cursor: pointer !important;
					width: 20px;
					height: 20px;
					margin-top: -1px;
					margin-left: -1px;
					border-radius: 50%;
					overflow: hidden;
				}
			}
			&:hover, &:focus {
				text-decoration: none;
				.icon {
					background-color: #fff;
					color: #000;
					transform: rotateY(360deg);
					box-shadow: 0px 0px 4px #fff;
				}
			}
		}
	}
}
.count {
	position: relative;
	height: 13px;
	.clearfix();
}
.develop {
	position: relative;
	> button, > a {
		padding: 5px 15px;
		color: #000;
		background-color: #fff;
		display: inline-block;
		text-decoration: none;
		transition: all .3s;
		border-width: 0px;
		-webkit-appearance: none;
		border-radius: 5px;
		&:hover {
			background-color: #000;
			color: #fff;
			text-decoration: none;
			box-shadow: 0px 0px 4px #fff;
		}
	}
}
.scroll {
	li {
		height: 48px;
		padding: 3px 10px 3px 10px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-top-width: 1px;
		border-top-style: solid;
		position:relative;
		background-color: #ffffff;
		div {
			white-space: nowrap !important;
			overflow: hidden;
		}
		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			i {
				font-style: normal;
			}
			img {
				display: block;
				max-width: 100%;
				position: relative;
			}
			&.new_title {
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				color: #fff;
				display: block;
				font-size: 10px;
				letter-spacing: 1px;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 3px;
				position: absolute;
				right: 50px;
				top: 0px;
			}
		}
		.button, .favicon {
			color: #fff;
			background-color: #000;
			font-family: 'RadioEXT' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			border-radius: 50%;
			padding: 5px;
			font-size: 10px;
			cursor: pointer;
			&:hover {
				
			}
		}
		&.favorite {
			.favicon:hover {
				background-color: #000000 !important;
			}
		}
		.button {
			&:before {
				content: @icon-play;
			}
		}
		&.active {
			&, &.ui-sortable-helper {
				background-color: #000;
				color: #fff;
				&:before {
					content: " ";
					display: block;
					height: 16px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					position: absolute;
					background-repeat: repeat-x;
					background-position: bottom left;
					background-size: auto 16px;
					background-image: data-uri("../images/bin/loading.svg");
					opacity: 0;
					transition: opacity .9s;
				}
			}
		}
		&.play {
			.button {
				&:before {
					content: @icon-pause;
				}
			}
		}
		&.progress {
			&:before {
				opacity: 1;
			}
		}
		.favicon {
			&:before {
				content: @icon-favorites;
			}
		}
		.logo {
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
			width: 38px;
			border-radius: 4px;
			border-style: solid;
			background-color: #fff;
		}
		.radiotitle {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 171px;
			margin-right: 5px;
		}
		&.hide {
			display: none;
		}
	}
}
.skin_custom {
	.jspTrack .jspDrag {
		opacity: 1 !important;
	}
}
.jspVerticalBar, .jspTrack {
	z-index: 100000;
}
span.description {
    line-height: 1.6;
}
#jscolor_container {
	position: relative;
}
span#counter {
	position: absolute;
	left: -12px;
	right: -12px;
	top: -22px;
}
.hidden {
	display: none !important;
}
#optionPage {
	&, body {
		min-width: 570px !important;
		min-height: 540px !important;
		/*max-width: 570px !important;
		max-height: 540px !important;*/
	}
	.main {
		padding-left: 0px;
		padding-right: 0px;
		width: 299px;
		.header {
			margin-left: -6px;
			margin-right: -6px;
		}
		&-wrapp {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			border-left-style: solid;
			border-right-style: solid;
			border-left-width: 3px;
			border-right-width: 3px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.list_wrapper .radiolist {
		width: auto;
	}
}
#actionPage {
	.main {
		width: 298px;
	}
}