.options {
	background-color: transparent;
	.main {
		
	}
	&_wrapper {
		.option {
			position: relative;
			padding-bottom: 5px;
			margin-bottom: 8px;
			border-bottom: 1px dashed #ccc;
			min-height:23px;
			input[type=checkbox] {
				position: absolute;
				top: 0px;
				left: 5px;
			}
			.label {
				display: block;
				padding-left: 30px;
				max-width: 225px;
			}
		}
	}
}
.optionSkin {
	position: fixed;
	z-index:9999;
	user-select: none;
	padding: 10px;
	transform: translateX(-100%);
	transition: all .3s ease-in-out;
	box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.0);
    top: 0px;
	bottom: 0px;
	left: 0px;
	padding-top: 50px;
	background-color: #fff;
	.settings {
		position: relative;
		height: 60px;
		z-index: 300;
	}
	#color {
		padding: 8px;
		font-weight: bold;
		text-align: center;
		border-bottom: 8px solid #fff;
	}
	#optskn {
		padding: 5px;
		width: 100%;
	}
	h2 {
		margin-bottom: 10px;
	}
	hr {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}
.extension-set {
	overflow: hidden;
	body {
		transition: margin-left .3s ease-in-out;
	}
	&.open {
		.optionSkin {
			transform: translateX(0);
			box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.13);
			overflow: auto;
		}
		@media (max-width:815px){
			body {
				/*margin-left: 160px;*/
				/*position: relative;*/
			}
			.extpage {
				transform: translateX(260px);
			}
			.main {
				margin-left: 0px;
			}
		}
	}
	.extpage {
		position: relative;
		display: block;
		width: 100vw;
		transition: transform .3s ease-in-out;
		.main {
			border-left-color: #FFF;
			border-right-color: #FFF;
		}
	}
}
.extension-set {
	body {
		background-repeat: no-repeat;
		.extpage {
			background-image: data-uri("../images/bin/lazy_bg.svg");
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}