@icomoon-font-path: "../fonts";

@icon-radio: "\e900";
@icon-play: "\e901";
@icon-pause: "\e902";
@icon-favorites: "\e903";
@icon-search: "\e904";
@icon-copy: "\e905";
@icon-fullon: "\e906";
@icon-fulloff: "\e907";
@icon-settings: "\e908";
@icon-refresh: "\e909";
@icon-ok: "\e90a";
@icon-vk: "\e90b";
@icon-tw: "\e90c";
@icon-fb: "\e90d";
@icon-go: "\e90e";
@icon-web-search: "\e90f";
@icon-close: "\e910";

@font-face {
    font-family: 'Bender';
    src: local('Bender'),
		url('@{icomoon-font-path}/bender.woff') format('woff'),
		url('@{icomoon-font-path}/bender.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/*!
**
** Icon font RadioExt 
** Designer & Develop: IOWEB http://ioweb.ru/
**
*/
@font-face {
  font-family: 'RadioEXT';
  src: 	url('@{icomoon-font-path}/radio_ext_v2.1.ttf') format('truetype'),
		url('@{icomoon-font-path}/radio_ext_v2.1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'RadioEXT' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio {
  &:before {
    content: @icon-radio;
  }
}
.icon-play {
  &:before {
    content: @icon-play;
  }
}
.icon-pause {
  &:before {
    content: @icon-pause;
  }
}
.icon-favorites {
  &:before {
    content: @icon-favorites;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-copy {
  &:before {
    content: @icon-copy;
  }
}
.icon-fullon {
  &:before {
    content: @icon-fullon;
  }
}
.icon-fulloff {
  &:before {
    content: @icon-fulloff;
  }
}
.icon-settings {
  &:before {
    content: @icon-settings;
  }
}
.icon-refresh {
  &:before {
    content: @icon-refresh;
  }
}
.icon-ok {
  &:before {
    content: @icon-ok;
  }
}
.icon-vk {
  &:before {
    content: @icon-vk;
  }
}
.icon-tw {
  &:before {
    content: @icon-tw;
  }
}
.icon-fb {
  &:before {
    content: @icon-fb;
  }
}
.icon-go {
  &:before {
    content: @icon-go;
  }
}
.icon-web-search {
  &:before {
    content: @icon-web-search;
  }
}
.icon-close,
.icon-clear {
  &:before {
    content: @icon-close;
  }
}
