@skinBody: #EEEEEE, #FFA966, #66D3F8, #8FD39B, #E898E5, #FB8F8A, #FFEC66;
@skinHead: #E2E2E2, #FF7000, #00B5F3, #44B658, #D854D3, #F9453C, #FFE000;
@skinBgCo: #00B4F1, #FF7000, #00B5F3, #44B658, #D854D3, #F9453C, #FFE000;
.make-skin() {
	@count: length(@skinBody);
	.skin(@index) when (@index < @count) {
		#optionPage{
			.skin_@{index} {
				background-image: radial-gradient(circle, extract(@skinBody, @index + 1), extract(@skinHead, @index + 1));
				.main {
					&-wrapp {
						border-left-color: extract(@skinHead, @index + 1);
						border-right-color: extract(@skinHead, @index + 1);
					}
				}
			}
		}
		#actionPage {
			.skin_@{index} {
				.main {
					border-left-color: extract(@skinHead, @index + 1);
					border-right-color: extract(@skinHead, @index + 1);
				}
			}
		}
		.skin_@{index} {
			.main {
				background-color: extract(@skinBody, @index + 1);
				.header {
					&_canvas {
						.radio {
							&_block {
								.rlogo {
									color: extract(@skinHead, @index + 1);
								}
							}
						}
					}
				}
			}
			.header {
				&_background {
					fill: extract(@skinHead, @index + 1);
				}
				.icon {
					&:hover {
						color: extract(@skinHead, @index + 1);
					}
				}
			}
			.track , .footer{
				background-color: extract(@skinHead, @index + 1);
			}
			.jspTrack .jspDrag, input[type=range]::-webkit-slider-thumb{
				background-color: extract(@skinBgCo, @index + 1);
			}
			input[type=range], .scroll .logo {
				border-color: extract(@skinHead, @index + 1);
			}
			.scroll {
				li {
					border-color: extract(@skinBody, @index + 1);
					.button, .favicon {
						&:hover {
							background-color: extract(@skinBgCo, @index + 1);
						}
					}
					&.active {
						.button {
							background-color:extract(@skinBgCo, @index + 1);
						}
					}
					&.favorite {
						.favicon {
							background-color: extract(@skinBgCo, @index + 1);
						}
					}
					&.play {
						
					}
					.new_title {
						background-color: extract(@skinHead, @index + 1);
					}
				}
			}
		}
		.skin(@index + 1);
	}
	.skin(0);
}
.make-skin();